body {
    margin: 0;
    padding: 0;
    /* background-color: #e154d3; */
    background-image: url("https://img.freepik.com/premium-photo/opened-book-bible-background_112554-164.jpg");
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #da913e94;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  #login-box{
    color: white;
  }