<app-header></app-header>

<body>

    <h1>WELCOME TO DIGITAL BOOK LIBRARY</h1>

   <h3>A digital book library is an online platform that provides access to a vast collection of electronic books, also known as eBooks. It serves as a virtual repository where users can browse, borrow, read, and sometimes even purchase or download eBooks. Digital book libraries have become increasingly popular due to the convenience they offer over traditional physical libraries
</h3>
<h2>
    Top Sellers:
</h2>
<h3>
    &nbsp;&nbsp;&nbsp;
    <img src="https://m.media-amazon.com/images/I/61v7T2HizCL._AC_UF1000,1000_QL80_.jpg" width="150px" height="200px" />
    &nbsp;
    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1671466214l/59357120.jpg" width="150px" height="200px" />

    &nbsp;
    <img src="https://m.media-amazon.com/images/I/81YXTq4pvwL._AC_UF350,350_QL50_.jpg" width="150px" height="200px" />
    
    &nbsp;
    <img src="https://m.media-amazon.com/images/I/912iiFEK2wL._AC_UF1000,1000_QL80_.jpg" width="150px" height="200px" />
    &nbsp;
    <img src="https://m.media-amazon.com/images/I/71B-7twlcFL._AC_UF1000,1000_QL80_.jpg" width="150px" height="200px" />
    &nbsp;
    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1654371463i/18144590.jpg" width="150px" height="200px" />

    &nbsp;
    <img src="https://cdn.kobo.com/book-images/25bff6c9-2c08-4a3b-af62-54ed2be2bec5/1200/1200/False/happy-place-6.jpg" width="150px" height="200px" />
    <br>
    <br>

</h3>



</body>